<div class="author">
    <h1 class="author">My name is Kevin!</h1>
    <p class="author__body">Aspiring web developer & coder </p>
</div>

<img src="/img/me.png" alt="This is me" class="hero-image" width="960" height="540">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <span><%= post.title %></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
        <% }) %>
    </ul>


    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>


    


</section>